# Dependencies
node_modules

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# TypeScript
build

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Next.js build output
.next
out

package-lock.json